{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('assets/security.css') }}">
<section id="login">
  <div class="login-form">
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
    {{ form(emailForm) }}
  </div>
</section>
{% endblock %}
