{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert" style="">
        {{ message }}
    </div>
{% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert" style="width: 25vw; padding: 2%; border-radius: 15px; position: absolute; -webkit-box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
    box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17); text-align: center; left: 12%; ">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert" style="width: 25vw; padding: 2%; border-radius: 15px; position: absolute; -webkit-box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
    box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17); text-align: center; left: 12%; ">
            {{ message }}
        </div>
    {% endfor %}
<link rel="stylesheet" href="{{ asset('assets/security.css') }}">
<section id="login">
    <div class="login-form">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">Erreur lors de la connexion, verifier vos identifiants de connexion</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-3" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <div class="form-check">
            <label for="remember_me">Restez connecter</label>
            <input type="checkbox" name="_remember_me" id="remember_me" class="form-check-input" >
            <a href="{{ path('app-forgotten_password')}}" style="color:#0d131f; text-decoration: none; padding-left: 0;" class="form-check" >Mot de passe oublié</a>
        </div>

        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg button mt-3" type="submit"> Connexion </button>
</form>
    </div>
</section>


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


{% endblock %}
