{% extends 'base.html.twig' %}

{% block title %}Rénitialiser le mot de passe{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/security.css') }}">
<section id="login">
    <div class="login-form">
        <h1>Entrez votre nouveau mot de passe </h1>
        <form method="post">
            <label for="pass" >Mot de passe </label>
            <input type="password" name="password" id="pass" class="form-control">
            <input type="hidden" name="token" value="{{ token }}">
            <button class="btn button mt-3"> Valider </button>
        </form>
    </div>
</section>

{% endblock %}
