{{ form_start(form) }}
<div class="diplome">
    {{ form_row(form.diplome) }}
</div>
<div class="secteur">
    {{ form_row(form.secteur) }}
</div>
<div class="contrat">
    {{ form_row(form.contrat) }}
</div>
<div class="departement">
    {{ form_row(form.departement) }}
</div>
<button type="submit" class="btn btn-light m-2">Rechercher</button>
{{ form_end(form) }}

