{% extends 'base.html.twig' %}

{% block title %}Nos Etudiants{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-multiselect.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('assets/student.css') }}">
    <section>
                <div class="filter">
                    {% include 'student/_filter.html.twig' with {form: form} only %}
                </div>
                <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Diplome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Departement</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Secteur</th>
                            <th scope="col">Contrat</th>
                            <th scope="col">CV</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for etudient in etudients %}
                            <tr>
                                <td class="td"><p>{{ etudient.nom }}</p></td>
                                <td class="td"><p>{{ etudient.prenom }}</p></td>
                                <td class="td"><p>{{ etudient.diplome }}</p></td>
                                <td class="td"><p>{{ etudient.email }}</p></td>
                                <td class="td"><p>{{ etudient.departement }}</p></td>
                                <td class="td"><p>{{ etudient.ville }}</p></td>
                                <td class="td"><p>{{ etudient.secteur }}</p></td>
                                <td class="td"><p>{{ etudient.contrat }}</p></td>
                                <td class="td"><a href="{{ asset('cv/'~ etudient.cv) }}" class="Cv" target="_blank" title="Telecharger Cv"><i class="fa-solid fa-download"></i></a></td>
                                <td class="td">
                                    <a href="{{ path("save", {id: etudient.id} ) }}" class="save" title="Selectionner/Retirer"><i class="fa-solid fa-check"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/multiselect-dropdown.js') }}"></script>
    <script>
        //Function pour rechercher les page enregistrer
        let etudiantId = [];
        {% for etudiant in selection %}
        etudiantId.push({{ etudiant.id }})
        {% endfor %}

        let save = document.querySelectorAll('.save');
        save.forEach(function (e){
            let string = e.pathname.replace('/save/', ' ');
            let int = parseInt(string);
            let found = etudiantId.filter(el => el === int)
            if(found.length !== 0){
                e.classList.remove('save');
                e.classList.add('unsave');
                e.childNodes[0].classList.remove('fa-check')
                e.childNodes[0].classList.add('fa-xmark')
                e.setAttribute('href', `/unsave/${int}`)
            }else {
                e.classList.add('save');
                e.classList.remove('unsave');
                e.childNodes[0].classList.add('fa-check')
                e.childNodes[0].classList.remove('fa-xmark')
            }
        })


    </script>
{% endblock %}
