{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <link rel="stylesheet" href="{{ asset('assets/register.css') }}">

    <div class="register_bloc">
        {{ form_start(form) }}
        <h1>Inscription</h1>
        <div class="row">
            <div class="col">
                {{ form_row(form.Prenom) }}
            </div>
            <div class="col">
                {{ form_row(form.Nom) }}
            </div>

            <div class="row">
                {{ form_row(form.contrat) }}
            </div>
            <div class="row">
                    {{ form_row(form.Diplome) }}
            </div>
            <div class="row">
                {{ form_row(form.Secteur) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.Age) }}
                </div>
            </div>
            <div class="row">
               {{ form_row(form.departement) }}
               {{ form_row(form.date) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.email) }}
                </div>
                <div class="col">
                    {{ form_row(form.telephone) }}
                </div>
            </div>
            <div class="row">
                    {{ form_row(form.cv, {label:"Votre CV - N'utiliser que des fichier pdf"}) }}
            </div>
            {{ form_widget(form.observation, { 'attr': {'class': 'hidden-row'} }) }}
        <button type="submit" class="btn btn-dark mt-2">inscription</button>
        {{ form_end(form) }}
    </div>
    </div>
    <script>
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date+' '+time;

        console.log(today.getDate()+1)
        flatpickr("#etudiant_form_date", {
            "locale": "fr",
            dateFormat: "Y-m-d H:i",
            "disable": [
                function(date) {
                    // return true to disable
                    return (date.getDay() === 0 || date.getDay() === 6);

                }
            ],
            minDate: "today"
            ,
            enableTime: true,
            minTime: "09:00",
            maxTime: "18:00",
            defaultDate: dateTime
        });
    </script>
{% endblock %}
