{% extends 'base.html.twig' %}

{% block title %} Alternantreprise {% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
        <section id="HeadSection">
            <img src="{{ asset('assets/images/Alternantreprise.png') }}">
            <h1>ALTERNANTREPRISE</h1>
            <div class="wrapper_headSection_p">
                <p> La CVthèque qui réunit les étudiants et les entreprises </p>
                <div class="wrapper_headSection">
                    <p> +5000 étudiants utilisent notre CVthèque - commencez votre sourcing candidats des maintenant</p>
                    <a href="{{ path('app_register') }}">Je commence </a>
                </div>
            </div>
        </section>
        <section id="secondSection">
            <div class="row">
                <div class="col-md-6">
                    <h1> Entreprise </h1>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn modalButtin" data-bs-toggle="modal" data-bs-target="#EntrepriseModal">
                        VOUS AVEZ UN PROJET DE RECRUTEMENT D'ALTERNANT OU DE STAGIAIRE ?
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="EntrepriseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="EntrepriseModallLabel">Vous recherchez vos prochains alternants ou stagiaires ?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                </div>
                                <div class="modal-body">


                                    <p>Vous n'avez pas le temps de publier les annonces ? </p>
                                    <p>Traiter toutes les candidatures ? </p>
                                    <p>Ne cherchez plus ! Alternantreprise, La CVtèque qui vous permet de contacter directement les candidats </p>
                                    <p>Nous trions tous les CV, effectuons les premiers entretiens </p>
                                    <h4>Vous n'avez plus qu'à faire votre choix </h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger fermer" data-bs-dismiss="modal">X</button>
                                    <a href="{{ path('app_register') }}" class="btn button">Inscrivez Vous</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h1> Étudiant </h1>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn modalButtin" data-bs-toggle="modal" data-bs-target="#EtudiantModal">
                        VOUS ETES A LA RECHERCHE DE VOTRE FUTUR OPPORTUNITE ?
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="EtudiantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Tu recherches une alternance ou un stage ? </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Tu t'inscris</p>
                                    <p>Tu choisis une date de rendez-vous</p>
                                    <p>Tu passe un entretien avec un de nos conseillés</p>
                                    <p>on présente ton profil à nos entreprises</p>
                                    <h4>Tu es accompagné jusqu'à la signature de ton contrat</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger fermer" data-bs-dismiss="modal">X</button>
                                    <a href="{{ path('new_student') }}" class="btn button">Inscris toi</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="thirdSection">
            <div class="head">
                <h1> Vos Interlocuteurs </h1>
                <div class="circle">
                    <img src="{{ asset('assets/images/tete1.png') }}" class="tetelogo">
                    <h3 class="hide">Anissa MAKNI</h3>
                    <p class="hide">Responsable Commerciale & Relations Écoles Sud de la France.</p>
                    <p class="hide">
                        8 années d'expérience dans les ressources humaines.
                        Depuis 2019, date de création d'Alternantreprise : accompagnement des étudiants en recherche d'une alternance ou d'un stage pour mise en relation avec nos différents clients.
                    </p>

                </div>
                <div class="circle">
                    <img src="{{ asset('assets/images/tete2.png') }}" class="tetelogo" id="tetelogo2">
                    <h3 class="hide">Marwa RETIMI</h3>
                    <p class="hide">Responsable Recrutement & Relations Écoles IDF/Centre</p>
                    <p class="hide">
                        4 années d'expérience dans le recrutement principalement sur des postes tertiaire et technique.
                        Depuis 2019, création d'Alternantreprise: accompagnement des étudiants en recherche d'une alternance ou d'un stage.</p>
                </div>
                <div class="circle">
                    <img src="{{ asset('assets/images/tete1.png') }}" class="tetelogo">
                    <h3 class="hide">Kamelia OULGHADI</h3>
                    <p class="hide">Responsable Recrutement & Relations Écoles Nord  de la France</p>
                    <p class="hide">
                        3 années d'expérience dans le recrutement d'intérimaire dans le secteur de la vente/commerce.
                        Depuis 2019, création d'Alternantreprise: Accompagnement des étudiants en recherche d'une alternance ou d'un stage.
                    </p>
                </div>
            </div>
            {#        <h1>IL NOUS FONT CONFIANCE</h1>#}
            {#        <div class="divImage">#}
            {#            <img src="{{ asset('assets/images/see-and-moov.png') }}" class="homeImage">#}
            {#            <img src="{{ asset('assets/images/verlingue.jpg') }}" class="homeImage">#}
            {#            <img src="{{ asset('assets/images/logo.png') }}" class="homeImage">#}
            {#        </div>#}
        </section>
        <section class="footerSection">
            <div id="divImage">
                <img src="{{ asset('assets/images/Alternantreprise.png') }}" class="">
                <h3>ALTERNANTREPRISE</h3>
            </div>
            <div class="footerLink">
                <div>
                    <h3>Retrouvez-Nous</h3>
                    <a href="https://www.linkedin.com/in/alternantreprise-relations-etudiants-et-entreprises-2802b3191"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.tiktok.com/@alternantreprise"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
            <div id="bottom">
                <a href="{{ path('mention-legale') }}">Mentions légales</a>
                <a href="{{ path('CGV') }}">Conditions Générales d'utilisation</a>
                <a href="{{ path('protection-donnees') }}">Protection des données</a>
            </div>
        </section>
{% endblock %}
