{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <link rel="stylesheet" href="{{ asset('assets/register.css') }}">


    <div class="register_bloc">
        {{ form_start(registrationForm) }}
        <h1 class="mb-3">Inscription</h1>
        {{ form_row(registrationForm.nom, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.entreprise, {
            label: 'Entreprise'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}
        {{ form_row(registrationForm.telephone, {
            label: 'Telephone professionnel'
        }) }}
        <button type="submit" class="btn button">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
