.register_bloc{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-color: #1B2432;
}
#etudiant_form_date{
    display: none;
    position: absolute;
    z-index: -1;
}
.register_bloc form{
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 50vw;
    padding: 5em 2em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    -webkit-box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17); 
    box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
}
.register_bloc form h1{
    margin: 0em 0;
}
.register_bloc form input{
    width: 100%;
}
#registration_form_agreeTerms{
    width: 1vw;
}
.form-check-input{
    width: 110vw;
}
@media screen and (max-width: 430px)
{
    .register_bloc {
        min-height: 120vh;
    }
    .register_bloc form{
        background-color: #ffffff;
        position: absolute;
        z-index: 2;
        width: 100vw;
        padding: 10em 3em 3em 3em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        -webkit-box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
        box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
    }

}