body {
    background-color: #ffffff;
}
#login{
    display: flex;
    /*background-image: url('images/computer.png');*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    background-color: #1B2432;
}

.login-form{
    width: 50%;
    height: 100vh;
    padding: 10%;
    border-top-right-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
    box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
}
@media screen and (max-width: 430px) {
    #login{
        display: flex;
        background-image: url('images/gradient.jpg');
        background-position: right;
    }
    .login-form{
        width: 100%;
        height: 100vh;
        padding: 30% 10%;
        border-top-right-radius: 20px;
    }
}