
section{
    padding: 4em 0 0 0;
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section h1 {
    margin: 1em 0
}
table{
    margin-top: 50px;
    position: relative;
}
.diplome, .secteur, .contrat, .departement{
    padding: 25px 25px 0 25px;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    margin: 0 10px;
    width: 20vw;
    min-height: 20vh;
}
.diplome{
    background-color: #aac9e1;
}
.secteur{
    background-color: #e0e3f5;
}
.contrat{
    background-color: #C1F7DC;
    color: black;
}
.departement{
    background-color: #F7CACD;
}
.filter{
    height: fit-content;
    width: 100vw;
    height: fit-content;
    margin-bottom: 1em;
}
.filter form{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}
.filter form button{
    height: fit-content;
    width: fit-content;
    position: relative;
    border: 2px solid #3f5379;
    background-color: transparent;
    padding: 1em;
    border-radius: 10px;
}
.filter select{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1em;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    height: 100%;
}
input:focus{
    outline: none;
}
.filter select option{
    color: black;
    font-weight: bolder;
}
.filter select option:checked{
    color: red;
}
.filter select option:checked{
    background-color: transparent;
    color: deepskyblue;
}
.save{
    color: #1B2432;
    height: 80px;
    width: 80px;
    padding: 0.5em;
    border-radius: 5px;
    transition: 1s;
    font-size: 25px;
}
.unsave{
    color: #b20000;
    height: 80px;
    width: 80px;
    padding: 0.7em;
    transition: 1s;
    font-size: 25px;
}
.save:hover{
    color: #00d0ff;
}
.unsave:hover{
    color: #ff0071;
}
.Cv{
    text-decoration: none;
    color: #1B2432;
    font-weight: bolder;
}

.multiselect-dropdown-list-wrapper{
    backdrop-filter: blur(10px);
    height: fit-content;
    padding: 5%;
    animation-name: example;
    animation-duration: 1s;
}
@keyframes example {
    from {top: -100vh;}
    to {top: 0;}
}
.multiselect-dropdown-list{
    height: 50vh;
}
.remove{
    color: red;
}
@media screen and (max-width: 430px) {
    .filter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: fit-content;
        margin-bottom: 1em;
    }
    .filter form{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .diplome, .secteur, .contrat, .departement{
        margin-top: 15px;
        padding: 15px 15px 0 15px;
        color: black;
        font-weight: bolder;
        border-radius: 5px;
        width: 45vw;
        min-height: 10vh;
    }
    .filter form button{
        height: fit-content;
        width: 100%;
        position: relative;
        border: 2px solid #3f5379;
        background-color: transparent;
        padding: 1em;
        border-radius: 10px;
        margin-top: 15px;
    }

    table{
        display: inline-block;
        margin-top: 50px;
        position: relative;
        font-size: 10px;
        z-index: 10;
    }
    .table{
        width: 200vw;
        overflow-x: scroll !important;
    }

}