:root{
    --primary: #C83E4D;
    --secondary: #C8523D;
    --dark: #212121;
    --light: #f3f3f3;

}
#tarteaucitronMainLineOffset{
    border-top-left-radius: 15px!important;
}
.tarteaucitronBorder{
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, a, div, span {
    overflow: hidden;
}
body {
    background-color: #f3eae7;
}
@media screen and (max-height: 1081px){

    .sectionContainer .PresentationBlock{
        position: relative;
        min-height: 60vh;
        width: 100%;
        scroll-snap-type: y mandatory;
        padding: 10%;
    }
    .PresentationBlock p{
        width: 100%;
        font-size: 30px;
        z-index: 2;
    }
    #blue{
        background-color: #3272B9;
        height: 10vh;
        color: white;
    }

    .PresentationBlock h1{
        position: absolute;
        right: 5%;
        top: -10%;
        font-size: 350px;
        opacity: 40%;
        color: white;
        z-index: 1;
    }
    #white h1{
        color: black;
    }
    .wrapper_headSection{
        top: 30%;
    }
}
.cur-year{
    position: relative!important;
    top: 5px;
}
.flatpickr-current-month{
    top: -5px!important;
    height: 100%;
}
section, div{
    #812020-x: hidden;
}
.footerPage{
    display: flex;
    flex-direction: row;
}
.footerLinks{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5em;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    position: fixed;
}
.button{
    background-color: #1B2432!important;
    color: white!important;
}
.alert{
    width: 25vw;
    padding: 2%;
    border-radius: 15px;
    position: absolute;
    -webkit-box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
    box-shadow: 13px 5px 50px -1px rgba(0,0,0,0.17);
    text-align: center; left: 12%;
}
.footerLinks a {
    color: black;
    text-decoration: none;
}
.footerText{
    background-color: rgba(27, 36, 50, 1);
    min-height: 100vh;
    width: 75vw;
    padding: 5em;
    color: white;
    position: relative;
    left: 25%;
}
.footerLink div a{
    color: white;
    font-size: 30px;
    margin: 0 0.5em;
}
@media screen and (max-width: 430px) {
    .footerPage{
        display: flex;
        flex-direction: column;
    }
    .footerLinks{
        height: 25vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5em 10px;
        border-bottom-right-radius: 0em;
        border-top-right-radius: 0em;
        position: fixed;
        z-index: 2;
        background-color: white;
    }
    .footerText{
        background-color: rgba(27, 36, 50, 1);
        min-height: 100vh;
        width: 100vw;
        padding: 15em 1em 1em 1em;
        color: white;
        position: relative;
        left: 0%;
        top: 25%;
    }
}
h1{
    overflow: hidden;
}
.navBubbleActive, .navBubbleDesactive{
    height: 50px;
    width: 80px;
    position: fixed;
    left: 1em;
    top: 1em;
    padding: 1em;
    z-index: 17;
    overflow: hidden;
}.navBubbleActive, .navBubbleDesactive:hover{
    cursor: pointer;
 }
.navBubbleActive div{
    height: 5px;
    width: 80%;
    background-color: #0f151c;
    border-radius: 15px;
    margin: 3px;
    transition: 0.5s;
}
.navBubbleActive div:nth-child(2){
    background-color: #0a53be;
    width: 75%;
    position: relative;
    top: 0px;
    transition: 0.5s;
}
.navBubbleActive div:nth-child(3){
    background-color: #dcb479;
    width: 75%;
    position: relative;
    top: 0px;
    transition: 0.5s;
}
.navBubbleActive{
    display: none;
}
.navBubbleDesactive div{
    transition: 0.5s;
}
.navBubbleDesactive div:nth-child(1){
    background-color: #000000;
    transform: rotate(-45deg);
    width: 75%;
    transition: 0.5s;
}
.navBubbleDesactive div:nth-child(2){
    background-color: #0d131f;
    transform: rotate(45deg);
    width: 75%;
    position: relative;
    top: -7px;
    transition: 0.5s;
    transition: 0.5s;
}
.navBubbleDesactive div:nth-child(3){
    background-color: #dcb479;
    width: 0%;
    position: relative;
    top: 0px;
    transition: 0.5s;
}
#navSection{
    height: 100vh;
    width: 100vw;
    background-color: rgba(27, 36, 50, 0.8);
    z-index: 15;
    position: fixed;
    top: -100vh;
    transition: 0.5s;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    padding: 5em;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-shadow: -1px 11px 81px -17px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px 11px 81px -17px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 11px 81px -17px rgba(0,0,0,0.52);
}
#navSection a {
    font-size: 40px;
    font-weight: bold;
    color: #F7EBE8 ;
    text-decoration: none;
}
#navSection_full{
    background-color: #FFFFFF;
    text-align: right;
    padding: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 15;
    box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
}
#navSection_full a {
    color: black;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bolder;
}

body{
    min-height: 100vh;
}
#HeadSection{
    width: 100vw;
    position: relative;
    overflow-y: hidden;
}
#HeadSection img{
    position: relative;
    left: 50%;
}

#HeadSection h1{
    position: absolute;
    left: 1em;
    top: 2em;
    font-size: 5em;
}
.wrapper_headSection_p{
    position: absolute;
    top: 50%;
    left: 1em;
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;

}

.wrapper_headSection{
    position: relative;
    left: 0;
    top: 15%;
    font-weight: bolder;
    width: 100vw;
    font-size: 15px;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrapper_headSection a {
    border: 2px solid #1B2432;
    color: #1B2432;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    position: relative;
    width: fit-content;
}
/*Seconde Secion*/
#secondSection{
    padding: 20px 20px 200px 20px;
    background-color: #1B2432;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    position: relative;
    box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    text-align: center;
    /*display: flex;*/
}

#secondSection h1 {
    margin: 2em 0;
    color: white;
    font-weight: bold;
    font-size: 2em;

}
#secondSection .modalButtin{
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-weight: bold;
    padding: 3em;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #303f59;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#secondSection .modalButtin:hover{
    box-shadow: inset 1000px 0 0 0 #54b3d6;
    color: white;
}

/*Modal*/
.modal-content {
    border-radius: 1em;
    background-color: white;
    border: none;
}
.modal-header{
    background-color: #ffffff;
    padding: 2em 2em 4em 2em;
    color: #1B2432;
    font-weight: bolder;
}
.modal-body{
    position: relative;
    top: -2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1em;
    background-color: white;
}
.modal-footer{
    justify-content: space-around;
    background-color: #ffffff;
}
.inscriptionButton, .fermer{
    border-radius: 5px;!important;
}
.inscriptionButton{
    background-color: #ffffff;
    color: #1B2432;
}

/*Secon Section*/
.thirdSection{
    padding: 35px;
    background-color: #f3eae7;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    position: relative;
    text-align: center;
    overflow: hidden;
    top: -100px;
}
.divImage{
    height: 80vh;
    width: 80vw;
}

/*.head{*/
/*    justify-content: space-around;*/
/*}*/
.circle{
    height: 150px;
    width: 80vw;
    border-radius: 151px;
    color: #ffffff;
    margin: 50px;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition: .9s;
    transform-origin: left;
    padding: 25px;
    position: relative;
}
.circle a, .circle p{
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 25%;
}
.hide {
    display: block;
    transition: 1s;
    font-weight: bolder;
    margin: 20px 0;
}
.circle:hover{
    height: 300px;
    width: 80vw;
    border-radius: 125px;
    transform-origin: left;

}
.circle:hover .hide{
    display: block;
}
.tetelogo {
    transform: scale(0.4) rotate(0.5deg);
    transform-origin: left;
    position: absolute;
    top: -11.8em;
    left: -0.1em;
    border-radius: 0px;
    transition: .9s;
    transition-delay: .3s;
}
.tetelogo:hover{
    border-bottom-right-radius: 0px;
}
#tetelogo2{
    position: absolute;
    top: -16.5em;
    transform: scale(0.32);
    left: 0.2em;
}
.sectionContainer .PresentationBlock{
    font-size: 10px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    padding: 10%;
}
.PresentationBlock p{
    width: 50%;
    font-size: 50px;
}
.PresentationBlock img{
    transform: scale(1.5);
    opacity: 70%;
    position: absolute;
    right: 20%;
    top: 10%;
}

#green{
    background-color: #333;
    color: white;
}
#green span{
    background-color: white;
    padding: 2px;
    color: #0f172a;
}

#blue{
    background-color: #3272B9;
    height: 100vh;
    color: white;
}

#blue h2{
    width: 75%;
    font-size: 50px;
    position: absolute;
    top: 50%;
    z-index: 20;
}
#white{
    background-color: #FFF;
}
#black{
    background-color: #2B193D;
    color: white;
}
#yellow{
    background-color: #AF7595;
}
.sf-toolbar-clearer{
    background-color: black;
}
.aPropos{
    height: 5vh;
    grid-area: 1 / 7 / 2 / 10;
    color: aliceblue;
    height: 100%;
    padding: 2em;
}
.aPropos a{
    color: aliceblue;
    text-decoration: none;
}
.contact{
    height: 5vh;
    grid-area: 1 / 10 / 2 / 13;
    color: aliceblue;
    height: 100%;
    padding: 2em;
}
.link{
    text-align: left;
}

#calendar{
    width: 100vh;
    margin: auto;
    background-color: #0c4a6e;
}
.calendrier{
    background-color: #0c4a6e;
    height: 100vh;
    width: 100vw;
}
.footerSection{
    width: 100vw;
    background-color: #1B2432;
    position: relative;
    z-index: 14;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    padding: 5em 0 0 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerLink{
    display: flex;
    justify-content: space-around;
    margin-right: 3em;
}
.footerLink div{
    margin: 0 2em;
}
#divImage{
    margin: 0 0 0 2em;
}
#divImage img{
    height: 150px;
    width: 100px;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
#divImage h3 {
    margin-top: 1em;
}
#bottom{
    background-color: #18232d;
    width: 100vw;
    z-index: 20;
    margin-top: 5em;
    text-align: center;
    padding: 1em;
    border-top: 1px solid #253546;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#bottom p {
    margin-left: 1em;
}
#bottom a {
    color: white;
    text-decoration: none;
    margin-left: 2em;

}


@media screen and (max-width: 430px) {
    #navSection_full{
        display: none;
    }
    #HeadSection{
        height: 90vh;
        position: relative;
        background-color: #f3f3f3;
        overflow: hidden;

    }
    #HeadSection img{
        position: relative;
        right: 6em;
        transform: scale(1.5);
        top: 25%;
    }
    #HeadSection h1{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 20%;
        font-size: 2.3em;
        font-weight: bold;
        text-align: center;
    }
    .wrapper_headSection_p{
        position: absolute;
        left: 0em;
        top: 50%;
        font-size: 1.5em;
        font-weight: bold;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.13);
        border-radius: 1em;
        padding: 2em;
        z-index: 14;
        width: 100vw;
    }

    .wrapper_headSection{
        position: relative;
        left: 0em;
        top: 0em;
        font-weight: bolder;
        width: fit-content;
        font-size: 20px;
    }
    .wrapper_headSection a {
        border: 2px solid #1B2432;
        background-color: #1B2432;
        color: #ffffff;
        padding: 15px;
        border-radius: 15px;
        text-decoration: none;
        position: relative;
    }
    /*Seconde Section*/

    #secondSection{
        background-color: #1B2432;
        padding: 90px 10%;
        width: 100vw;
        min-height: 120vh;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: relative;
        box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
        -webkit-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
        -moz-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }



    .card_header h2{
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        margin: 10%;
    }

    .card_body{
        padding: 30px;
    }

    .card_body h3{
        color: var(--dark);
        font-size: 20px;
        margin-bottom: 15px;
    }

    .card_body p{
        color: var(--dark);
        font-size: 18px;
        line-height: 1.5;
    }
    /*Fin*/

    /*Troisieme section*/
    .thirdSection{
        padding: 5px;
        background-color: #f3eae7;
        min-height: 150vh;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: relative;
        top: 0vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .divImage{
        height: 80vh;
        width: 80vw;
    }
    .divImage img{
        transform: scale(0.4);
        transform-origin: left;
    }
    /* Fin */

    /*Footer*/
    .footerSection{
        width: 100vw;
        height: 100vh;
        background-color: #1B2432;
        position: relative;
        z-index: 14;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
        -webkit-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
        -moz-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
        top: 0vh;
        padding: 1em 0 0 0;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }

    .footerLink{
        display: flex;
        justify-content: space-around;
        margin: 0px auto;
        width: 100vw;
    }
    .footerLink div{
        margin: 0 2em;
    }
    #divImage{
        margin: 0 auto;
        text-align: center;
        padding: 50px;
    }
    #divImage img{
        height: 100px;
        width: 100px;
        position: relative;
        left: 25%;
        top: 20%;
        transform: translate(-50%, -50%);
    }
    #bottom{
        background-color: #18232d;
        width: 100vw;
        z-index: 20;
        margin-top: 5em;
        text-align: center;
        border-top: 1px solid #253546;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
    #bottom p {
        margin-left: 1em;
    }
    #bottom a {
        color: white;
        text-decoration: none;
        margin-left:13px;

    }
    /**/



    .navBubbleActive, .navBubbleDesactive{
        height: 100px;
        width: 80px;
        position: fixed;
        left: 1em;
        top: 1em;
        z-index: 17;

    }

    .navBubbleActive{
        display: block;
    }
    /*NAVIGATION*/
    #navSection{
        height: 100vh;
        width: 100vw;
        background-color: rgba(27, 36, 50, 0.7);
        z-index: 15;
        position: fixed;
        top: -100em;
        transition: 0.5s;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 5em 2em;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(10px);
        box-shadow: -1px 11px 81px -17px rgba(0,0,0,0.52);
        -webkit-box-shadow: -1px 11px 81px -17px rgba(0,0,0,0.52);
        -moz-box-shadow: -1px 11px 81px -17px rgba(0,0,0,0.52);
    }
    #navSection a {
        font-size: 35px;
        font-weight: bold;
        color: #F7EBE8 ;
        text-decoration: none;
    }
    /**/

    .sectionContainer .PresentationBlock{
        position: relative;
        min-height: 100vh;
        width: 100%;
        scroll-snap-type: y mandatory;
        padding: 10%;
    }
    .PresentationBlock h1{
        position: absolute;
        right: 5%;
        top: -10%;
        font-size: 450px;
        opacity: 15%;
        color: white;

    }
    .PresentationBlock p{
        width: 100%;
        font-size: 40px;
    }
    .PresentationBlock img{
        transform: scale(1);
        opacity: 90%;
        position: absolute;
        right: 20%;
    }

    #green{
        background-color: #333;
        color: white;
    }
    #green span{
        background-color: white;
        padding: 2px;
        color: #0f172a;
    }

    #blue{
        background-color: #3272B9;
        height: 80vh;
        color: white;
        padding: 7em 1em;
    }

    #blue h2{
        width: 100%;
        font-size: 70px;
        position: relative;
    }
    #white{
        background-color: #FFF;
    }
    #white h1{
        color: black;
    }
    #black{
        background-color: #2B193D;
        color: white;
    }
    #yellow{
        background-color: #AF7595;
    }

    .circle {
        height: 250px;
        width: 70vw;
        border-radius: 1em;
        color: #ffffff;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

        transition: .9s;
        transform-origin: left;
        padding: 25px;
        position: relative;
    }

    .circle a,  .circle p{
        color: #ffffff;
        font-weight: bolder;
        font-size: 25px;

    }
    .hide {
        display: block;
        transition: 1s;
        font-weight: bolder;
        margin: 20px 0;
    }
    .circle:hover{
        height: 250px;
        width: 70vw;
        border-radius: 1em;
        color: #ffffff;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        transition: .9s;
        transform-origin: left;
        padding: 25px;
        position: relative;
    }
    .circle:hover .hide{
        display: block;
    }
    .tetelogo {
        transform: scale(0.4) rotate(0.5deg);
        transform-origin: left;
        position: absolute;
        top: -11.8em;
        left: -0.1em;
        border-radius: 1em;
        transition: .9s;
        transition-delay: .3s;
        opacity: 0.1;
    }
    .tetelogo:hover{
        border-radius: 1em;
    }
    #tetelogo2{
        position: absolute;
        top: -16.5em;
        transform: scale(0.32);
        left: 0.2em;
    }
    .circle img{
        z-index: 25;
    }
}

