*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
#HeadProfileSection{
    height: 30vh;
    width: 100vw;
    overflow: hidden;
    background-color: #1B2432;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    text-align: center;
    padding: 2em;
    color: white;
    z-index: 10;
    -webkit-box-shadow: 3px 12px 38px -3px rgba(0,0,0,0.6);
    box-shadow: 3px 12px 38px -3px rgba(0,0,0,0.6);

}

.HeadLinks a{
    color: white;
}.HeadLinks{
    display: flex;
    justify-content: space-around;
}

#secondProfileSection{
    min-height: 100vh;
    position: relative;
    top: -5vh;
    z-index: 1;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#contactCard{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    padding: 2em;
    border-radius: 2em;
}
#contactCard img{
    height: 50vh;
}
.block{
    height: fit-content;
    width: 80%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.84);
    border-radius: 1em;
    -webkit-box-shadow: 3px 12px 38px -3px rgba(0,0,0,0.15);
    box-shadow: 3px 12px 38px -3px rgba(0,0,0,0.15);
    padding: 1.5em;
}

.blockDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divI{
    min-height: fit-content;
    width: fit-content;
    margin-top: 50px;
}
.divI a {
    font-size: 25px;
    border-radius: 15px;
    padding: 25px;
}
.usertitle{
    display: none;
}
.blockDiv div{
    justify-content: space-between;
}
.blockDiv div a{
    margin: 0 25px;
    font-size: 25px;
    color: #a2a2a2;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 5px;
}
.blockDiv div a:nth-of-type(2){
    border: none;
    color: red;
}
form{
    padding: 5%;
}
#user_email, #user_nom, #user_telephone{
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    padding: 15px;
    border: none;
    border-bottom: 2px solid rgba(210, 210, 210, 0.47);
}
#user_email:focus, #user_nom:focus, #user_telephone:focus{
    box-shadow: none !important;
}

.blue{
    background-color: #1B2432;
    color: white;
    font-weight: bolder;
    width: 100%;
    margin-top: 5%;
}
@media screen and (min-width: 1280px){

    section{
        background-color: #F7EBE8;
        display: flex;
        flex-direction: row;
    }
    #HeadProfileSection{
        height: 100vh;
        width: 35vw;
        overflow: hidden;
        background-color: #1B2432;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        text-align: right;
        padding: 2em;
        color: white;
        z-index: 10;
        -webkit-box-shadow: 3px 12px 38px -3px rgba(0, 0, 0, 0);
        box-shadow: 3px 12px 38px -3px rgba(0, 0, 0, 0);

    }

    .HeadLinks a{
        color: white;
    }

    #secondProfileSection{
        min-height: 100vh;
        width: 60vw;
        position: relative;
        top: -5vh;
        z-index: 1;
        padding: 10vh 2vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .HeadLinks{
        flex-direction: column;
        justify-content: space-around;
    }
    .block{
        height: fit-content;
        width: 40%;
        margin: 10px 1em;
        background-color: rgba(255, 255, 255, 0.84);
        border-radius: 1em;
        text-align: center;
        align-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 12px 38px -3px rgba(0,0,0,0.15);
        box-shadow: 3px 12px 38px -3px rgba(0,0,0,0.15);
        padding: 1.5em;
    }

    .blockDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .divI{
        height: fit-content;
        width: fit-content;
        text-align: center;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }


    .divI a {
        font-size: 25px;
        background-color: rgba(46, 62, 86, 0.26);
        border-radius: 15px;
        padding: 25px;
    }
    .usertitle{
        font-size: 25px;
        display: block;
        margin: auto 45px;
    }
    #user_email, #user_nom, #user_telephone{
        background-color: rgba(255, 255, 255, 0);
        font-size: 25px;
        padding: 15px;
        border: none;
        border-bottom: 5px solid rgba(210, 210, 210, 0.47);
    }
}
