{% extends 'base.html.twig' %}

{% block title %}Condition General d'utilisation{% endblock %}

{% block body %}

    <section class="footerPage">
        <div class="footerLinks">
            <a href="{{ path("mention-legale") }}">Mentions Leglales</a>
            <a href="{{ path("CGV") }}">Condition General d'utilisation</a>
            <a href="{{ path("protection-donnees") }}">Protection des donées</a>
        </div>

        <div class="footerText">
            <h1>Condition General de Vente</h1>
            <p>Dernière mise à jour : <strong>14 Decembre 2022</strong></p>
            <p>Alternantreprise </p>
            <p> Les services proposés par ALTERNANTREPRISE sont soumis aux présentes Conditions Générales, à défaut
                d'éventuelles Conditions Particulières qui viendraient compléter ces Conditions Générales et par
                conséquences prélaveraient sur ces dernières.
                Alternantreprise peut modifier les Conditions en mettant en ligne une version actualisée de cette page
                web. Vous devez visiter régulièrement cette page et lire les conditions car elles sont légalement
                contraignantes pour vous.
                Alternantreprise s’autorise à suspendre ou supprimer les accès des Utilisateurs qui ne respecteraient pas
                les présentes conditions.</p>
            <br>
            <h4>1. COMMANDE</h4>
            <p>Toute commande effectuée sur le site www.alternantreprise.com, ou par téléphone, emporte acceptation
                par le Client des présentes Conditions Générales.</p>
            <br>
            <h4>2. DUREE DE CONTRAT</h4>
            <p>La durée du présent Contrat débutera à la date de l'acceptation du Client des présentes conditions et
                expirera à l'expiration de la dernière des périodes d'effet des produits que le Client a acheté auprès de
                Alternantreprise.</p>
            <br>
            <h4>3. UTILISATION DES SERVICES</h4>
            <p>Les publications d’offres, la base de données des CV et les autres fonctions des sites de Alternantreprise
                ne peuvent être utilisées que par des personnes recherchant un contrat en alternance ou un stage et/ou
                des informations de carrière ainsi que par les entreprises recherchant des alternants, stagiaires. De
                même, les informations ne peuvent être utilisés qu’à des fins professionnelles ou personnelles licites.
            </p>
            <h5>Les utilisateurs s’interdisent de :</h5>
            <p>
                3.1 Transmettre, publier, distribuer, enregistrer ou détruire tout matériel, en particulier les contenus de
                Alternantreprise, en violation des lois ou règlementations en vigueur concernant la collecte, le traitement
                ou le transfert d'informations personnelles, ou en violation des directives de protection des informations
                de Alternantreprise.
            </p>
            <p>3.2 D’effectuer des actions qui représenteraient une contrainte non raisonnable ou disproportionnée
                pour l’infrastructure du site web de Alternantreprise.</p>
            <p>3.3 Utiliser des systèmes d’exploration de données, des robots ou tout autre méthode semblable pour la
                collecte et l’exploitation de données.</p>
            <p>3.4 De mettre en danger ou essayer de mettre en danger la sécurité du site. Cela comprend les tentatives
                de contrôler, scanner ou tester la vulnérabilité d’un système ou réseau ou de violer des mesures de
                sécurité ou d’authentification sans une autorisation préalable expresse.</p>
            <p>3.5 contrefaire les protocoles TCP/IP ou toute partie des données d'en-tête de mail ou de publication sur
                un forum</p>
            <p>3.6 Agréger, copier ou dupliquer de quelque manière que soit le Contenu ou les informations disponibles
                sur le site Alternantreprise, cela comprend les d’offres d’emploi expirées, sauf dûment autorisé par les
                présentes Conditions</p>
            <p>3.7 Publier des contenus ou des matériels qui contiennent des informations fausses ou induisant en
                erreur ou qui promeuvent, soutiennent ou renforcent des activités qui sont interdites par ces conditions.</p>
            <p>Par exemple la fabrication ou l’achat d’armes illégales, des violations de la vie privée, la préparation ou
                l’introduction de virus informatiques ou de copies piratées.</p>
            <p>3.8 Divulguer à tout agent, agence ou autre tiers, le contact d’un employeur</p>
            <p>3.9 Rendre publique plus d’une copie d’un même CV à la fois</p>
            <p>3.10 Publier ou soumettre sur le site Alternantreprise une information biographique incomplète, fausse
                ou inexactes ou qui appartenant à un tiers</p>
            <p>3.11 Supprimer ou modifier tout élément publié par une autre personne ou entité</p>
            <p>3.12 Harceler, inciter au harcèlement ou prôner le harcèlement à l’encontre d’un groupe, d’une
                entreprise ou d’une personne</p>
            <p>3.13 Utiliser les Services du site ALTERNANTREPRISE à des fins illicites ou pour les besoins d’une activité
                illégale, publier ou soumettre tout contenu, CV ou d'offre d’emploi diffamatoire, calomnieuse,
                implicitement ou explicitement offensante, vulgaire, obscène, menaçante, abusive, haineuse, raciste,
                discriminatrice, à tendance menaçante ou pouvant troubler, gêner, provoquer de l’anxiété, harceler tout
                individu ainsi que d’ incorporer des liens vers du contenu pornographique, à connotation sexuelle ou
                contraire aux bonnes mœurs ou des violations de la sécurité du système ou du réseau peuvent conduire à des poursuites civiles et
                pénales. Alternantreprise recherchera les occasions dans lesquelles de telles violations pourraient avoir
                eu lieu et peut faire appel aux autorités judiciaires pour poursuivre des utilisateurs qui ont participés à de
                telles violations et coopérer avec ces autorités.</p>
            <p>Il est de votre responsabilité de conserver la confidentialité de votre compte Utilisateur, du profil et des
                mots de passe. Il vous est interdit de partager même temporairement, vos identifiant, mot de passe et
                autre paramètre d’accès à votre compte à des tiers. Vous êtes responsable pour l’utilisation de vos
                enregistrements et mots de passe sur le site Alternantreprise, que cette utilisation ait été autorisée ou
                pas par vous. A ce titre, vous vous obligez à informer Alternantreprise, sans délai, de toutes utilisations
                non autorisées de son compte et /ou identifiants.</p>
            <br>
            <h4>4. SOUSCRIPTION</h4>
            <p>Les coordonnées fournies par le Client lors de l'inscription comme utilisateur du site actuellement situé à
                l'adresse URL www.alternantreprise.com (Le Site) sont importantes et doivent être sincères, complètes et
                exactes. Le Client accepte de mettre à jour ses informations régulièrement afin d'être le plus à jour
                possible sur le site, notamment par rapport aux offres en alternance et stage disponibles.
                Lors de l'inscription, il sera fourni au Client un nom d'utilisateur et un mot de passe strictement
                personnels, que ce dernier s'engage à garder confidentiel.
            </p>
            <br>
            <h4>5. INFORMATIONS ENTREPRISE</h4>
            <p>
                Alternantreprise s'engage à respecter les informations Client et s'engage à se conformer à toutes les lois
                et règlements actuellement en vigueur en France applicables à la protection des données à caractère
                personnel. Sauf dans les cas où ALTERNANTREPRISE y serait contraint par la loi ou dans les cas suivants :
                publication des postes à pourvoir du Client services ayant été dûment acceptés par le Client.
                ALTERNANTREPRISE ne divulguera pas les informations fournies par le Client lors de son inscription à des
                tiers sans son consentement.
            </p>
            <br>
            <h4>6. PROPRIETE INTELLECTUELLE</h4>
            <p>Les présentes conditions ne confèrent au Client aucun droit concernant les droits d'auteur, les marques
                ou tous autres droits de propriété intellectuelle relatifs au Site, autres que les droits d'utilisation limités
                du service objet de sa commande. En outre, toute annonce ou produit publié sur le Site au titre des
                présentes et tous les éléments qui les composent ainsi que tous les droits de propriété intellectuelle y
                afférents sont et demeureront à tout instant la propriété du Client. Toutefois, l'acceptation des présentes
                conditions de vente confère à Alternantreprise le droit de diffuser tout ou partie de toute annonce
                diffusée sur Alternantreprise.com sur des sites partenaires sélectionnés pour leur professionnalisme et
                leur adéquation au contexte des offres étudiants. Ce service additionnel de rediffusion est en outre fourni
                gratuitement au client.</p>
            <br>
            <h4>7. OBLIGATIONS D'ALTERNANTREPRISE A L'EGARD DU CLIENT</h4>
            <p>Alternantreprise s'engage à fournir les différentes prestations commandées par le Client. Alternantreprise
                fera tous ses efforts pour maintenir le Site sans dysfonctionnement ni erreur. Alternantreprise n'assumera
                aucune responsabilité pour tout défaut d'accès au Site causé par un logiciel utilisé par le Client lorsqu'il
                entre des informations sur le Site.</p>
            <br>
            <h4>8. OBLIGATIONS DU CLIENT A L'EGARD D'ALTERNANTREPRISE</h4>
            <p>8.1 Le Client n'utilisera pas le Site afin de publier, transmettre, distribuer ou créer un lien avec tout
                élément mensonger ou trompeur, discriminatoire, diffamatoire, injurieux ou contraire aux bonnes
                mœurs, incitant à la discrimination, à la haine ou à la violence à l'égard d'une personne ou d'un groupe de
                personnes en raison de leur origine ou de leur appartenance ou non à une ethnie, une nation, une race ou
                une religion déterminée, ou de leur sexe, de leur orientation sexuelle ou de leur handicap, portant
                atteinte à la vie privée ou à l'ordre public, violant les dispositions légales relatives à la presse ou à la
                protection de la jeunesse ou autrement dommageable à l'égard des tiers.</p>
            <p>8.2 Le Client acceptera de ne pas utiliser ou tenter d'utiliser tout moteur de recherche, logiciel, outils,
                agent ou autre système ou mécanisme pour naviguer ou faire des recherches sur le Site autres que le
                moteur et les agents de recherche que Alternantreprise met à disposition sur le Site et tout navigateur
                Internet généralement mis à disposition par un tiers. Plus généralement, le Client s'engage à ne pas
                utiliser le Site ou les services qui lui sont fournis sur ou par l'intermédiaire du Site de tel façon à causer
                toute interruption, détérioration, baisse de performance ou empêcher par tout moyen le fonctionnement
                de tout ou une partie du Site ou desdits services.</p>
            <p>8.3 Le Client accepte de ne pas revendre les produits et services achetés à ALTERNANTREPRISE incluant,
                sans que cela soit limitatif, toute annonce ou accès à la base de données de CV à tout tiers autres que
                ceux dont les coordonnées ont été communiquées à ALTERNANTREPRISE au titre du présent Contrat ou
                pour lesquels ALTERNANTREPRISE a donné son accord.</p>
            <br>
            <h4>9. CONFIDENTIALITE</h4>
            <p>Chacune des Parties s'engage à maintenir confidentiels les informations et documents concernant l'autre
                partie, de quelque nature qu'ils soient et auxquels elles auraient pu avoir accès au cours de l'exécution du
                Contrat. Les Parties prendront vis-à-vis de leur personnel toutes les mesures nécessaires pour assurer la
                confidentialité de ces informations et documents. Néanmoins, Alternantreprise se réserve le droit de
                mentionner, à titre de référence, l'existence et l'objet de ce contrat dans le cadre de ses documents
                commerciaux diffusés notamment auprès de sa clientèle et de ses prospects. Cet engagement de
                confidentialité perdurera sur une période de 5 ans à l'issue de l'expiration du Contrat.</p>
            <br>
            <h4>10. Notifications relatives aux Droits d’auteur ou des marques.</h4>
            <p>Si vous constatez que des éléments publiés sur notre site Alternantreprise porte atteinte à des droits
                d’auteur ou autre droits protégés, merci de contacter Alternantreprise par email à l’adresse suivante :
                alternantreprise@outlook.fr.</p>
            <br>
            <h4>11. LIMITATION DE RESPONSABILITE</h4>
            <p>Alternantreprise n'assume aucune responsabilité envers le Client ou tout autre tiers pour toute perte de
                profits, perte d'exploitation, tout coût de remplacement des services ou pertes ou dommages indirects ou
                consécutifs immatériels de quelque nature ou de quelque sorte que ce soit, quelle qu'en soit la cause, et
                son recours exclusif pour toute réclamation, perte ou dommage lié à l'un des services fournis ou devant
                être fournis en vertu des présentes conditions sera limité au prix que le Client nous aura effectivement
                versé pour ledit ou lesdits services.</p>
            <br>
            <h4>12 RESILIATION</h4>
            <p>En cas de manquement par l'une des parties au présent contrat à l'exécution de ses obligations et à
                défaut pour cette partie d'y remédier, l'autre partie pourra résilier de plein droit le présent contrat, par
                lettre recommandée avec demande d'avis de réception, 15 jours après une mise en demeure restée sans
                réponse. Toute résiliation du service dans les conditions déterminées au présent article n'entraînera
                aucun dédommagement du Client. Les termes du présent Contrat qui sont nécessaires à son exécution survivront à toute expiration ou
                résiliation du présent Contrat. Lors de la résiliation ou de l'expiration du présent Contrat, toutes les
                licences et les droits accordés à l'une des parties par l'autre seront automatiquement résiliés tout comme
                les accès à tout site Internet accordés au Client.</p>
            <br>
            <h4>13. MODALITES DE PAIEMENT</h4>
            <p>13.1 Le Client consent à payer le prix qui lui est communiqué lors de la commande et le cas échéant dans
                toute Condition Particulière.</p>
            <p>13.2 Dans le cas où le Client choisit l'abonnement mensuel, le client s'engage a ne causer aucun probléme
                a Alternantreprise lors du prélevements qui aura lieu a chaque fin de mois.</p>
            <p>13.3 En l'absence de paiement par le Client injustifié à la date prévue de règlement, les services en ligne
                pourront être interrompus par Alternantreprise immédiatement, sans contrepartie financière et tous les
                montants déjà payés par le CLIENT resteront dus.</p>
            <p>13.4 Dans le cas de factures impayées plus de 30 jours après leur émission, ALTERNANTREPRISE se réserve
                le droit de prélever des frais de relance et des intérêts de retard soit 10 %.</p>
            <p>13.5 Dans le cas où le Client choisit le paiement sécurisé par Carte Bleue sur le site Internet ou par
                téléphone, celui-ci sera débité à la commande, conformément aux conditions du GIE Cartes Bancaires puis
                a chaque fin de mois les mois suivants. Si le client choisit de nous transmettre un chéque il sera encaisser
                a chaque fin de mois.</p>
            <br>
            <h4>12. FORCE MAJEURE</h4>
            <p>ALTERNANTREPRISE ne sera tenu pour responsable des retards ou empêchements relatifs à l'exécution du
                présent contrat en cas de survenance de tout événement indépendant de sa volonté qui empêche ou
                retarde la réalisation du ou des services fournis, assimilés contractuellement à la force majeure. Il en sera
                ainsi des événements suivants, et sans que cette liste soit limitative : catastrophes naturelles, périls
                maritimes ou aériens, incendies, inondations, sabotages, boycott, épidémie, émeute ou tout autre
                événement indépendant de la volonté de ALTERNANTREPRISE.</p>
            <br>
            <h4>13. DIVERS</h4>
            <p>Le présent Contrat constitue l'intégralité de l'accord quant à l'objet des présentes et remplace tout accord
                ou arrangement précédent, oral ou écrit s'y rapportant, ne peut être modifié que par écrit.</p>

        </div>

    </section>

{% endblock %}
