{% extends 'base.html.twig' %}

{% block title %}Gestion des cookies{% endblock %}

{% block body %}

    <section class="footerPage">
        <div class="footerLinks">
            <a href="{{ path("mention-legale") }}">Mentions Leglales</a>
            <a href="{{ path("CGV") }}">Condition General d'utilisation</a>
            <a href="{{ path("protection-donnees") }}">Protection des donées</a>
            <a href="{{ path("cookies") }}">Utilisation de cookies</a>
        </div>

        <div class="footerText">
            <h1>Parametre de confidentialité</h1>
            <p>Dernière mise à jour : <strong>14 Decembre 2022</strong></p>
            <p>Alternantreprise </p>
            <h3>Cookies analytiques</h3>
            <p>Nous utilisons le service Google analytics pour comprendre comment les visiteurs utilisent notre site.</p>
            <p>Ces cookies nous permettent d'améliorer notre site. </p>
        </div>
    </section>

{% endblock %}
