{% extends 'base.html.twig' %}

{% block title %}Mentions Leglales{% endblock %}

{% block body %}

    <section class="footerPage">
        <div class="footerLinks">
            <a href="{{ path("mention-legale") }}">Mentions Leglales</a>
            <a href="{{ path("CGV") }}">Condition General d'utilisation</a>
            <a href="{{ path("protection-donnees") }}">Protection des donées</a>
        </div>

        <div class="footerText">
            <h1>MENTIONS LEGALE</h1>
            <p>Dernière mise à jour : <strong>14 Decembre 2022</strong></p>
            <p>Société éditrice: <strong>Alternantreprise</strong></p>
            <p>Affaire personnel commercant</p>
        <p>Siege social : 71 Avenue Marie Curie , 77600 Bussy Saint Georges </p>
            <p>RCS Meaux A 852888 262</p>
            <p> Email: <a href="mailto:contact@alternantreprise.com">contact@alternantreprise.com</a>.<br></p>
            <p>Siret: 85288826200015 </p>
            <p>Activité: Portails internet</p>
            <p>Date d'immatriculation RCS : 31 Juillet 2019 </p>
            <p>Date d'enregistrement INSEE : le 01 Août 2019</p>
            <br>
            <p>Alternantreprise s'engage à mettre en oeuvre tout les moyens nécessaires afin d'assurer au mieux la fourniture des services qu'il propose à l'utilisateur.</p>
            <p>Sa responsabilité ne saurait être engagée en cas de force majeure ou de fait indépendant de sa volonté., notamment en cas d'interruption du service résultant d'une défaillance de réseaux ou du fournisseur d'accès à internet de l'internaute.</p>
            <br>
            <p>Alternantreprise n'est pas responsable de l'utilisation qui pourra être faite par l'internaute des informations et des services disponibles sur le site</p>
        </div>
    </section>

{% endblock %}
