{% extends 'base.html.twig' %}

{% block title %}protection-donnees{% endblock %}

{% block body %}

    <section class="footerPage">
        <div class="footerLinks">
            <a href="{{ path("mention-legale") }}">Mentions Leglales</a>
            <a href="{{ path("CGV") }}">Condition General d'utilisation</a>
            <a href="{{ path("protection-donnees") }}">Protection des donées</a>
        </div>

        <div class="footerText">
            <h1>Protection de vos données</h1>
            <p>Dernière mise à jour : <strong>14 Decembre 2022</strong></p>
            <p>Nous nous engageons à ce que la collecte et le traitement de vos données,  </p>
            <p>effectués à partir de notre site soient conforme au règlement général sur la protection des données (RGPD) et à la loi Informatique et libertés.</p>
            <p>Nous nous engageons à traiter de manière licite, loyale et transparente ces données à caractère personnel sur la base des fondements prévus par la réglementation : votre consentement, le contrat, le respect d’une obligation légale ou l’intérêt légitime.</p>
            <p>Nous ne collectons que des données à caractère personnel pour des finalités déterminées, explicites, légitimes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées.</p>
            <p>Nous mettons en place des mesures de sécurité appropriées pour la protection des données à caractère personnel. Nous prenons en compte ce risque dès la conception du traitement.</p>
            <p>Nous ne conservons pas vos données au-delà de la durée nécessaire conformément aux durées prévues par la loi et les réglementations applicables.</p>
            <p>La confidentialité et la sécurité de ces données personnelles sont des conditions essentielles.</p>
            <p>Nous vous garantissons l’exercice des différents droits sur vos données personnelles et sur les traitements.</p>
            <br>
            <h1>1. Définitions</h1>
            <p>Donnée à Caractère Personnel (DCP) : toute information se rapportant à une personne physique identifiée ou identifiable directement ou indirectement notamment par référence à un identifiant tel qu’un nom, un numéro d’identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.</p>
            <br>
            <p>Délégué à la Protection des Données : le délégué à la protection des données, souvent appelée DPO, est l’interlocuteur privilégié que vous devez contacter si vous voulez exercer vos droits ou pour toute question relative à la protection des données.</p>
            <br>
            <p>Commission Nationale Informatique et Libertés (CNIL) : la CNIL est l’autorité française chargée de la protection des données personnelles.</p>
            <br>
            <p>Règlement général à la protection des données (RGPD) : ce règlement, aussi connu sous le nom de GDPR ( General Data Protection Regulation), est le texte relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données applicable à compter du 25 mai 2018.</p>
            <br>
            <h1>2. L’utilisation de vos données</h1>
            <p>Vos données sont utilisées pour les finalités suivantes :</p>
            <ul>
                <li>la passation, la gestion et l’exécution de vos contrats d’assurance.</li>
                <li>l’élaboration de statistiques.</li>
                <li>les déclarations obligatoires auprès des autorités et administrations publiques, comme les déclarations fiscales ou cotisations sociales.</li>
                <li>la lutte contre le blanchiment de capitaux et contre le financement du terrorisme en vertu du code monétaire et financier.</li>
                <li>la lutte contre la fraude à l’assurance.</li>
            </ul>
            <p>Nous sommes tenus de vérifier que vos données sont exactes, complètes et, si nécessaire, mises à jour. Nous pourrons vous solliciter pour le vérifier ou être amenés à compléter votre dossier (par exemple en enregistrant votre email si vous nous avez écrit un courriel).</p>
            <br>
            <h1>3. Caractère obligatoire ou facultatif des informations</h1>
            <p>Les informations présentées comme obligatoires sont nécessaires à la bonne exécution de votre contrat.</p>
            <p>Nous vous tenons informé du caractère facultatif ou obligatoire de vos réponses dans les formulaires.</p>
            <br>
            <h1>4. Les destinataires des données</h1>
            <p>Les destinataires des données sont les porteurs de risque, les intermédiaires en assurance, les gestionnaires par exemple notamment les centres de gestion, le service relation client ainsi que les autorités administratives et judiciaires pour satisfaire aux obligations légales et réglementaires.</p>
            <br>
            <h1>5. La sécurité de vos données</h1>
            <p>Nous mettons en œuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité pour protéger vos données personnelles contre les altérations, destructions et les accès non autorisées par des tiers.</p>
            <p>Pour renforcer la sécurité et la confidentialité de vos données, nous avons mis en place des dispositifs d’accès restreint aux données.</p>
            <p>En cas de violation de vos données personnelles nous avons l’obligation de le notifier à la CNIL et de vous en informer dans les meilleurs délais.</p>
            <br>
            <h1>6. La durée de conservation des données</h1>
            <p>Les données ne peuvent être conservées que pour une durée limitée.</p>
            <p>Cette durée est déterminée en fonction de la finalité du traitement et des règles issues des durées de prescription et d’épuisement de toutes les voies de recours et des délais légaux d’archivage.</p>
            <p>Par exemple, les données nécessaires à la gestion de votre contrat et des services associés sont conservées pendant toute la durée de votre contrat augmentée des délais nécessaires aux prescriptions applicables.</p>
            <br>
            <h1>7. Les transferts vers l’étranger</h1>
            <p>L’hébergement et le traitement de vos données se fait dans l'Union Européenne.</p>
            <p>Aucun transfert n’est effectué hors de l'Union Européenne.</p>
            <br>
            <h1>8. Vos droits</h1>
            <p>Vous disposez des droits suivants :</p>
            <ul>
                <li>un droit d’accès.</li>
                <li>de rectification en cas d’informations inexactes, incomplètes ou erronées.</li>
                <li>d’effacement ou d’oubli notamment lorsque certaines données ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou le retrait de votre consentement pour les traitements fondés sur ce dernier.</li>
                <li>d’opposition e.n cas de motif légitime dès lors qu’il ne s’agit pas de données indispensables à l’exécution du contrat.</li>
                <li>de limitation</li>
                <li>à la portabilité aux informations qui vous concernent. Ce droit ne concerne que le cas où les données personnelles sont fournies par vous-même et traitées sur la base de votre consentement ou de l’exécution d’un contrat.</li>
                <li>de définir des directives relatives au sort de vos données après votre décès.</li>
            </ul>
            <p>Vous pouvez exercer l’ensemble de ses droits, en justifiant de votre identité, par courriel adressé à <a href="mailto:dpo@plansante.com.">dpo@plansante.com.</a></p>
            <p>Si vous ne souhaitez pas faire l’objet de prospection commerciale par voie téléphonique, vous pouvez vous inscrire gratuitement sur la liste d’opposition au démarchage téléphonique BLOCTEL, à l'adresse suivante : <a href="https://incription.bloctel.fr"> https://incription.bloctel.fr</a>.</p>
            <p>Pour plus d’informations, vous pouvez consulter le site <a href="www.bloctel.gouv.fr">www.bloctel.gouv.fr</a>.</p>
            <br>
            <h1>9. Comment faire une réclamation en cas de rejet de votre demande d’exercice de droits ?</h1>
            <p>Nous sommes très vigilants sur la protection de vos données personnelles mais néanmoins si vous considérez que le traitement des données vous porte atteinte ou que si vous n’avez pas obtenu de réponse dans un délai de deux mois sur vos droits et après épuisement des procédures en interne, vous pouvez vous rapprocher de la CNIL (<a href="www.cnil.fr">www.cnil.fr</a>).</p>
            <p>Commission Nationale Informatique et Libertés (CNIL)</p>
            <p>3 place de Fontenoy</p>
            <p>TSA 80715</p>
            <p>75 334 Paris cedex 07</p>
        </div>
    </section>

{% endblock %}
