{% extends 'base.html.twig' %}

{% block title %}Qui somme nous{% endblock %}

{% block body %}
    <section class="sectionContainer">
        <div id="blue" class="PresentationBlock">
            <h2>ALTERNANTREPRISE C'EST QUOI ?</h2>
            <img src="{{ asset('assets/images/Alternantreprise.png') }}" alt="">
        </div>
        <div id="green" class="PresentationBlock">
            <p>Spécialisé dans la mise en relation entre étudiants & entreprises, <span>Alternantreprise</span> a été créé en août 2019.</p>
        </div>
        <div id="white" class="PresentationBlock">
            <p> Notre Jobboard est dédié aux entreprises à la recherche d'alternant et/ou de stagiaires, ainsi qu'aux étudiants en quête d'une alternance ou d'un stage</p>
        </div>
        <div id="black" class="PresentationBlock">
            <p> Notre objectif, est de réunir toutes les offres sur Alternantreprise, afin que celles-ci soient
                consultables au plus grand nombre.</p>
        </div>
        <div id="yellow" class="PresentationBlock">
            <p> Pour une meilleure efficacité et fluidité, une mise à jour des candidatures est effectuée régulièrement.
                Afin d'avoir seulement les profils disponibles et à l'écoute.</p>
        </div>
    </section>
{% endblock %}
