<style>
    section{
        height: 100vh;
        width: 50vw;
        margin: 0 25%;
    }
    #headEmail{
        background-color: #1B2432;
        height: 25vh;
        width: 100%;
    }
    #headEmail h1{
        color: white;
        padding: 15%;
    }
    #ActivationMailEmail{
        padding: 25% 5%;
        text-align: center;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        position: relative;
        top: -55px;
        width: 100%;
    }

    #footer{
        background-color: #1B2432;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        position: relative;
        top: -55px;
        padding: 25% 5%;
        color: white;
        width: 100%;
        text-align: center;
    }
    #footer a {
        color: white;
    }
</style>
<section>
    <div id="headEmail">
        <h1>Activation de votre compte</h1>
    </div>

    <div id="ActivationMailEmail">
        <p> Vous avez crée un compte sur notre site, veuillez cliquer sur le lien ci dessous pour l'activer </p>
        <a href="{{ absolute_url(path('activation', { 'token': token } )) }}" >activer mon compte</a>
        <br>
        <p>A tres bientot sur alternantreprise </p>

    </div>
    <div id="footer">
        <p>Cet Email Vous est envoyé par Alternantreprise</p>
        <p>Retrouvez nous</p>
        <br>
        <a href="https://www.linkedin.com/in/alternantreprise-relations-etudiants-et-entreprises-2802b3191">Linkedin</a>
    </div>
</section>



