<style>
    section{
        height: 100vh;
        width: 50vw;
        margin: 0 25%;
    }
    #headEmail{
        background-color: #1B2432;
        height: 25vh;
        width: 100%;
    }
    #headEmail h1{
        color: white;
        padding: 5%;
        text-align: center;
    }
    #ActivationMailEmail{
        padding: 15% 3%;
        text-align: center;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        position: relative;
        top: -55px;
        width: 100%;
    }

    #footer{
        background-color: #1B2432;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        position: relative;
        top: -55px;
        padding: 15% 3%;
        color: white;
        width: 100%;
        text-align: center;
    }
    #footer a {
        color: white;
    }
</style>
<section>
    <div id="headEmail">
        <h1>ALTERNANTREPRISE</h1>
        <p> Bonjour {{ prenom }} </p>
    </div>

    <div id="ActivationMailEmail">
        <p> Merci de votre inscription sur Alternantreprise, nous vous confirmons votre rdv le {{ date|date('d-m-Y') }} à {{ date|date('H:i:s') }}</p>
    </div>

    <div id="footer">
        <p>Cet Email vous est envoyé par Alternantreprise</p>
        <p>Retrouvez nous</p>
        <br>
        <a href="https://www.linkedin.com/in/alternantreprise-relations-etudiants-et-entreprises-2802b3191">Linkedin</a>
    </div>
</section>



