<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/0aee15eec0.js" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{ asset('assets/js/bootstrap-multiselect.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap-multiselect.css') }}" type="text/css"/>
        <!-- Tarte au citron-->
        <script src="{{ asset('assets/tarteaucitron/tarteaucitron.js') }}"></script>

        <script type="text/javascript">
            tarteaucitron.init({
                "privacyUrl": "{{ path('protection-donnees') }}", /* Privacy policy url */
                "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */

                "orientation": "bottom", /* Banner position (top - bottom) */

                "groupServices": false, /* Group services by category */
                "serviceDefaultState": "wait", /* Default state (true - wait - false) */

                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": false, /* Show the cookie list */

                "closePopup": false, /* Show a close X on the banner */

                "showIcon": false, /* Show cookie icon to manage cookies */
                //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
                "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

                "adblocker": false, /* Show a Warning if an adblocker is detected */

                "DenyAllCta" : true, /* Show the deny all button */
                "AcceptAllCta" : true, /* Show the  accept all button when highPrivacy on */
                "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */

                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

                "readmoreLink": "", /* Change the default readmore link */

                "mandatory": true, /* Show a message about mandatory cookies */
                "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });

            tarteaucitron.user.gtagUa = 'G-XVTDVCKCTS';
            // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
            tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
            (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>
        <!-- Tarte au citron-->
{#        <!-- Google tag (gtag.js) -->#}
{#        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XVTDVCKCTS"></script>#}
{#        <script>#}
{#            window.dataLayer = window.dataLayer || [];#}
{#            function gtag(){dataLayer.push(arguments);}#}
{#            gtag('js', new Date());#}

{#            gtag('config', 'G-XVTDVCKCTS');#}
{#        </script>#}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
{#    <nav class="">#}
{#      <div class="navImg">#}
{#        <a href="{{ path('home') }}"><img src="{{asset('assets/images/logo.jpeg')}}" alt="" id="navimg"></a>#}
{#      </div>#}
{#      #}
{#      <div class="navText">#}
{#      {% if is_granted('ROLE_ADMIN') %}#}
{#        <a href="{{ path('admin') }}" class="navLink">Admin</a>#}
{#        <a href="{{ path('student') }}" class="navLink">Nos Etudient</a>#}
{#      {% endif %} #}
{#        <a href="{{ path('app_qui_somme_nous') }}" class="navLink">Qui Somme Nous</a>#}
{#        {% if is_granted('IS_AUTHENTICATED') %}#}
{#          <a href="{{ path('app_logout') }}" class="navLink">Deconnexion</a>#}
{#        {% endif %}#}
{#      </div>#}
{#    </nav>#}
    <nav>
        <div class="navBubbleActive">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <section id="navSection">
            <a href="{{ path('home') }}">Page D'accueil</a>
            {% if not is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('app_login') }}">Connexion</a>
            {% endif%}
            {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" class="navLink">Admin</a>
                    <a href="{{ path('student') }}" class="navLink">Nos Etudiants</a>
{#                    <a href="" class="navLink">Envoyer un Email</a>#}
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_users') }}" class="navLink"> Profil </a>
            {% endif %}
                    <a href="{{ path('app_qui_somme_nous') }}" class="navLink">Qui sommes-nous</a>
                    {% if is_granted('IS_AUTHENTICATED') %}
                      <a href="{{ path('app_logout') }}" class="navLink">Deconnexion</a>
            {% endif %}
{#            <a href="{{ path('delete_student') }}" class="navLink">Supprimer votre CV</a>#}
        </section>
        <div id="navSection_full">
            <a href="{{ path('home') }}">Page D'accueil</a>
            {% if not is_granted('IS_AUTHENTICATED') %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif%}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="navLink">Admin</a>
                <a href="{{ path('student') }}" class="navLink">Nos Etudiants</a>
                {#                    <a href="" class="navLink">Envoyer un Email</a>#}
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_users') }}" class="navLink"> Profil </a>
            {% endif %}
            <a href="{{ path('app_qui_somme_nous') }}" class="navLink">Qui sommes-nous</a>
            {% if is_granted('IS_AUTHENTICATED') %}
                <a href="{{ path('app_logout') }}" class="navLink">Deconnexion</a>
            {% endif %}
            {#            <a href="{{ path('delete_student') }}" class="navLink">Supprimer votre CV</a>#}
        </div>
    </nav>
<main id="">
        {% block body %}{% endblock %}
</main>
    </body>

<script>
    let nav = document.querySelector('.navBubbleActive');
    let navMenu = document.querySelector('#navSection');
    nav.addEventListener('click', function(){
        if(nav.classList.contains('navBubbleDesactive')){
            nav.classList.remove('navBubbleDesactive')
            navMenu.style.top= '-100vh'
        } else{
            nav.classList.add('navBubbleDesactive')
            navMenu.style.top= '0em'
        }
    })
    //
    // navDesactive.addEventListener('click', function(){
    //     navMenu.style.top= '-100em'
    //     navDesactive.style.display= "none"
    //     nav.style.display= "block"
    // })
</script>
</html>
