
#tableLine{
    height: 2vh;
    background: rgb(2,0,36);
    background: linear-gradient(101deg, rgba(2,0,36,1) 0%, rgba(0,52,94,1) 0%, rgba(50,114,185,1) 35%, rgba(70,101,171,1) 57%, rgba(94,50,114,1) 100%);
    margin: 0 10px;
    border-radius: 15px;
    margin: 5em 0;
}

section{
    padding: 5em;
    background-color: rgb(252, 252, 252);
    height: 100vh;
}

section h1 {
    margin: 1em 0
}
table{
    width: 90vw;
    border-radius: 15px;
}
#table{
    padding: 50px;
    border-radius: 15px;
}
.td{
    padding: 10px 0;
}
tbody{
    padding: 15px;
    border-radius: 15px;
}