:root{
    --primary: #C83E4D;
    --secondary: #C8523D;
    --dark: #212121;
    --light: #f3f3f3;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo Play', cursive;
}
body{
    min-height: 100vh;
    background-color: #F7EBE8;
}
#HeadSection{
    height: 100vh;
    position: absolute;
}
#HeadSection img{
    position: relative;
    right: -90em;
}
#HeadSection h1{
    position: absolute;
    left: 1em;
    top: 2em;
    font-size: 8em;
}
#HeadSection p{
    position: absolute;
    left: 2.8em;
    top: 9em;
    font-size: 3em;
    width: 40vw;
}
#secondSection{
    padding: 90px;
    background-color: #1B2432;
    height: 100vh;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    position: relative;
    top: 90vh;
    box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    display: flex;
}

.cardjs{
    width: 400px;
    height: 600px;
    border-radius: 50px;
    margin: 0 10%;
}

.card_inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card_inner.is-flipped{
    transform: rotateY(180deg);
}
.card_face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card_face--front{
    background: linear-gradient(31deg, rgba(209,65,65,1) 21%, rgba(119,7,7,1) 70%, rgba(106,7,7,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

}
.card_face--front h2{
    color: #fff;
    font-size: 70px;
}

.card_face--back{
    background-color: var(--light);
    transform: rotateY(180deg);
    border-radius: 20px;
}
.card_content {
    width: 100%;
    height: 100%;
}
.card_header{
    position: relative;
    padding: 30px 30px 40px;
}

.card_header:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background: linear-gradient(31deg, rgba(209,65,65,1) 21%, rgba(119,7,7,1) 70%, rgba(106,7,7,1) 100%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card_header h2{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 10%;
}

.card_body{
    padding: 30px;
}

.card_body h3{
    color: var(--dark);
    font-size: 20px;
    margin-bottom: 15px;
}

.card_body p{
    color: var(--dark);
    font-size: 18px;
    line-height: 1.5;
}

.thirdSection{
    padding: 90px;
    background-color: #f3eae7;
    height: 100vh;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    position: relative;
    top: 80vh;
    box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px -11px 81px -17px rgba(0,0,0,0.52);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.divImage{
    height: 80vh;
    width: 80vw;
}
.homeImage {
    transform: scale(0.5);
}
#secondSection svg{
    padding: 50px;
}
.svgLinks{
    text-decoration: none;
}
.sectionContainer .PresentationBlock{
    position: relative;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    padding: 10%;
}
.PresentationBlock h1{
    position: absolute;
    right: 5%;
    top: -10%;
    font-size: 450px;
    opacity: 60%;
    color: white;

}
.PresentationBlock p{
    width: 50%;
    font-size: 70px;
}
#HeadSection h1{
    position: absolute;
}
.PresentationBlock img{
    transform: scale(2);
    opacity: 50%;
    position: absolute;
    right: 20%;
}

#green{
    background-color: #333;
    color: white;
}
#green span{
    background-color: white;
    padding: 2px;
    color: #0f172a;
}

#blue{
    background-color: #3272B9;
    color: white;
}

#blue h2{
    width: 30%;
    font-size: 100px;
    position: absolute;
}
#white{
    background-color: #FFF;
}
#black{
    background-color: #2B193D;
    color: white;
}
#yellow{
    background-color: #AF7595;
}
footer{
    z-index: 11;
}
footer{
    background-color:rgb(50, 114, 185);
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.sf-toolbar-clearer{
    background-color: black;
}
.footerlogo{
    grid-area: 1 / 1 / 2 / 7;
    height: 100%;
    width: 100%;
    padding: 2em;
    color: aliceblue;
    font-family: 'AvenirNextLTPro-Regular', 'serif';
}
.aPropos{
    height: 5vh;
    grid-area: 1 / 7 / 2 / 10;
    color: aliceblue;
    height: 100%;
    padding: 2em;
}
.aPropos a{
    color: aliceblue;
    text-decoration: none;
}
.contact{
    height: 5vh;
    grid-area: 1 / 10 / 2 / 13;
    color: aliceblue;
    height: 100%;
    padding: 2em;
}
.link{
    text-align: left;
}

#calendar{
    width: 100vh;
    margin: auto;
    background-color: #0c4a6e;
}
.calendrier{
    background-color: #0c4a6e;
    height: 100vh;
    width: 100vw;
}
