{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('assets/users.css') }}">
    <section>
        <div id="HeadProfileSection">


            <div class="row"><h1>{{ app.user.Nom }}</h1></div>
            <div class="row"><h1>{{ app.user.entreprise }}</h1></div>
            <div class="HeadLinks">
                <div class="col-4 divI">
                    <a href="{{ path('app_users') }}"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <h1 class="usertitle">Retour au profil</h1>
                </div>
            </div>
        </div>
        <div id="secondProfileSection">
            {{ form_start(form) }}
            {{ form_row(form.nom,{'value':userProfil.nom }) }}
            {{ form_row(form.email,{'value':userProfil.email }) }}
            {{ form_row(form.telephone,{'value':userProfil.telephone }) }}
            <button type="submit" class="btn blue mt-2">Enregistrer vos modification</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}