{% extends 'base.html.twig' %}

{% block title %}Page de {{ app.user.Nom }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <link rel="stylesheet" href="{{ asset('assets/users.css') }}">
    <section>
        <div id="HeadProfileSection">


            <div class="row mt-5"><h1>{{ app.user.Nom }}</h1></div>
            <div class="row"><h1>{{ app.user.entreprise }}</h1></div>
            <div class="HeadLinks">
{#                <div class="col-4 divI">#}
{#                    <a href="{{ path('student') }}"><i class="fa-solid fa-list"></i></a>#}
{#                    <h1 class="usertitle">Acces au etudiants</h1>#}
{#                </div>#}

                <div class="col-4 divI">
                    <a href="{{ path('editProfil',  {id: app.user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <h1 class="usertitle">Modifier votre profil</h1>
                </div>
{#                <div class="col-4 divI">#}
{#                    <a href="#">#}
{#                        <i class="fa-solid fa-gear"></i>#}
{#                    </a>#}
{#                    <h1 class="usertitle">Reglage</h1>#}
{#                </div>#}
            </div>
        </div>
        <div id="secondProfileSection">
            {% if is_granted('ROLE_SUB') %}
                {% if selection|length == 0 %}
                    <div class="container"> <h1>Aucun élement à afficher </h1></div>
                    <div class="container"> <h5> Sélectionner des etudiant en cliquant ici: <a href="{{ path('student') }}"> Liste des étudiants</a> </h5></div>
                {% else %}
                    {% for etudiant in selection%}
                        <div class="block">
                            <div class="blockDiv">
                                <p>{{ etudiant.Nom }}</p>
                                <div >
                                    <a href="{{ asset('cv/'~ etudiant.CV) }}" class="SelectionLinks" target="_blank" title="Telecharger le cv"><i class="fa-solid fa-download"></i></a>
                                    <a href="{{ path("unsaveUser", {id: etudiant.id} ) }}" class="SelectionLinks" target="_blank" title="retirer de votre selection"> <i class="fa-solid fa-xmark"></i> </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% else %}
                    <div id="contactCard" class="container">
                        <img src="{{ asset('assets/images/Alternantreprise.png') }}">
                        <h1>Vous souhaitez acceder à la CVtèque ? </h1>
                        <h1>Contactez nous au <a href="tel:+33768981548" style="color: #324660; font-weight: bolder; text-decoration: none">07 68 98 15 48</a></h1>
                    </div>
            {% endif %}
        </div>
    </section>
    <script>
        console.log()
    </script>
{% endblock %}
