{% extends 'base.html.twig' %}

{% block body %}
    <style>
        section{
            text-align: center;
        }
        img{
            height: 50vh;
        }
    </style>
    <section>
        <img src="{{ asset('assets/images/Alternantreprise.png') }}">
        <h1>Accès interdit</h1>
    </section>
{% endblock %}