{% extends 'base.html.twig' %}
{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<h1>Supprimer votre Cv de notre CVteque</h1>
<input placeholder="inscriver votre email">
<button class="btn btn-danger">Supprimer</button>
{%endblock %}
